#container {

	height: 800px;
	width: 800px;
	margin: 0 auto;
	text-align: center;
	padding-top: 50px;

}

.fluff {
	background-color: grey;

	display: inline-block;
	float: left;
	margin: 0px 0px 0px 0px;
	border: none;
}

#reset {
	width: 100px;

}

#size {
	width: 100px;
}

#resetdiv {
	text-align: center;
	margin-top: 5%;
}

form {
	display: inline;
}